# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Docker

on:
  workflow_call:
    inputs:
      default_branch:
        default: main
        required: false
        type: string
      dockerhub_username:
        required: true
        type: string
      platforms:
        default: linux/amd64,linux/arm/v7
        description: Target platforms for build, comma separated
        required: false
        type: string
    secrets:
      dockerhub_token:
        required: true

jobs:
  docker-job:
    name: Build and push
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ inputs.platforms }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ inputs.dockerhub_username }}
          password: ${{ secrets.dockerhub_token }}

      - name: Docker buildx and push
        uses: docker/build-push-action@v6
        env:
          IMAGE_ID: ${{ github.repository }}
          VERSION: ${{ github.ref_name == inputs.default_branch && 'latest' || github.sha }}
        with:
          push: true
          tags: ${{ env.IMAGE_ID }}:${{ env.VERSION }}
