# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Docker

on:
  workflow_call:
    inputs:
      dockerhub_username:
        required: true
        type: string
      platform:
        default: linux/amd64,linux/arm/v7
        description: Target platform for build
        required: false
        type: string
    secrets:
      dockerhub_token:
        required: true

jobs:
  docker-job:
    name: Build and push
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into Docker Registry
        run: echo "${{ secrets.dockerhub_token }}" | docker login -u ${{ inputs.dockerhub_username }} --password-stdin

      - name: Docker buildx and push
        run: |
          IMAGE_ID=${{ github.repository }}

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "main" ] && VERSION=latest

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker buildx build \
            --platform ${{ inputs.platform }} \
            --output "type=image,push=true" \
            --tag $IMAGE_ID:$VERSION \
            --file Dockerfile \
            .
